.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: "Yes";
      text-transform: uppercase;
      padding-left: 10px;
      background-color: #f90;
      color: #fff;
    }
  }
  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: "No";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
    }
  }
}

/* w3 css for the tab bar*/
.bar .button {
  white-space: normal;
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.btn,
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  font: inherit;
  margin: 0;
}

.bar {
  width: 100%;
  overflow: hidden;
}
.blue,
.hover-blue:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
}

.white,
.hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.filter-button {
  color: #fff !important;
  background-color: #00008b !important;
}

.button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
/** **/

.custom-tooltip {
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

th {
  background-color: red;
}

.lt-data {
  background-color: rgb(255, 255, 158, 0.5);
  /* rgb(179, 229, 252, .5); */
}

.adapt-data {
  background-color: rgb(171, 247, 177, 0.5);
}

.new-line {
  white-space: pre-line;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.react-table-column-flex-grow-1 {
  flex-grow: 1 !important;
  width: unset !important;
  flex-basis: 5px !important;
  max-width: none !important;
}

.intro {
  border-top: 1px solid #f5f5f5;
  margin: 0;
}

.desc {
  margin: 0;
  color: rgb(3, 62, 146);
}

rect {
  pointer-events: all;
  fill: #022851;
}

rect:hover {
  /* new */
  fill: #ffbf00;
}

svg,
canvas {
  pointer-events: all;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

strong {
  font-weight: normal;
  text-decoration: underline;
}

/* enable word wrap for datatable */
.wordwrap {
  white-space: pre-line !important;
  word-wrap: break-word;
}

/*
svg:hover {
  fill: #FFBF00;
} */
